@import "tailwindcss";

@theme {
  --font-family: "Geist", sans-serif;
  --color-brand-orange: #D5ED5D;
}

:root {
  --color-primary: #000000;
  --color-background: #F2F2F0;
  --color-text: #000000;
  --color-text-secondary: #666666;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'IBM Plex Mono', monospace;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'IBM Plex Mono', monospace;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: 'IBM Plex Mono', monospace;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: 'IBM Plex Mono', monospace;
}

p {
  line-height: 1.6;
}