@import "tailwindcss";

@theme {
  --font-family: "Geist", sans-serif;
  --color-brand-color: #D5ED5D;
  --color-background-color: #FFFCF9;
  --color-surface-color: #F1EDE3;
  --color-text-color: #18161D;
  --color-text-secondary-color: #444444;
}

:root {
  --color-primary: #18161D;
}

body {
  background-color: var(--color-background-color);
  color: var(--color-text-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'IBM Plex Mono', monospace;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'IBM Plex Mono', monospace;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: 'IBM Plex Mono', monospace;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: 'IBM Plex Mono', monospace;
}

p {
  line-height: 1.6;
}

.decorative-text {
  font-family: 'Noto Serif Display', serif;
  font-style: italic;
}